*.svn
rspec/pkg
*/tmtags
example_rails_app/vendor/rails/*
log
RSpec.tmbundle/Support/coverage
doc/output
rspec/story_server/prototype/rspec_stories.html
example_rails_app/config/database.yml
example_rails_app/db/schema.rb
example_rails_app/db/*.db
example_rails_app/log
example_rails_app/coverage
example_rails_app/stories/all.rb
example_rails_app/stories/helper.rb
example_rails_app/script/spec
example_rails_app/script/spec_server
example_rails_app/spec/rcov.opts
example_rails_app/spec/spec.opts
example_rails_app/spec/spec_helper.rb
example_rails_app/vendor
.DS_Store
