--- 
extension: css
filter:    erb
layout:    nil   # no layout

color:
  border:      "#ddd"
  header:      "#111"
  link:        "#125AA7"
  link-hover:  "#000"
  blockquote:  "#666"
  box-bg:      "#eee"
  highlight:   "#B2CCFF"
  quiet:       "#666"
  alt:         "#666"
--- 

body {
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
}

/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { color: <%= @page.color['header'] %>; }

/* Text Elements
 * --------------------------------------------------------------------- */
a                 { color: <%= @page.color['link'] %>; }
a:hover           { color: <%= @page.color['link-hover'] %>; }
blockquote        { color: <%= @page.color['blockquote'] %>; }

pre {
  background: <%= @page.color['box-bg'] %>;
  border:     1px solid <%= @page.color['border'] %>;
}

hr {
  background: <%= @page.color['highlight'] %>;
  color:      <%= @page.color['highlight'] %>;
}

/* Tables
 * --------------------------------------------------------------------- */
table {
  border-top:     1px solid <%= @page.color['border'] %>;
  border-left:    1px solid <%= @page.color['border'] %>;
}
th,td {
  border-bottom:  1px solid <%= @page.color['border'] %>;
  border-right:   1px solid <%= @page.color['border'] %>;
}

/* Default Classes
 * --------------------------------------------------------------------- */
p.quiet { color: <%= @page.color['quiet'] %>; }
.alt    { color: <%= @page.color['alt'] %>; }


/* EOF */
