div.breadcrumb-menu {
	height: 4.3em;
	background-color: black;
	width: 100%;
}

div.breadcrumb-menu ul {
	display: block;
	margin: 0;
	padding: 0;
}

div.breadcrumb-menu ul li {
	display: block;
	float: left;
}

div.breadcrumb-menu ul li a, 
div.breadcrumb-menu ul li span {
	display: block;
	padding: 0.6em 1em 0.6em 1em;
	line-height: 1em;
	height: 0.9em;
}

div.breadcrumbs {
	position: relative;
	top: 0;
	left: 0;
	height: 2.1em;
	background-color: #EFEFEF;
	z-index: 10;
}

div.breadcrumbs ul li {
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 20px;
}
div.breadcrumbs ul li.selected {
	background-image: none;
	padding-right: 0;
}

div.breadcrumbs ul li a {
	color: black;
	background-color: #EFEFEF;
}

div.breadcrumbs ul li a:hover {
	background-color: #E0E0E0;
}

div.breadcrumbs ul li.selected a,
div.breadcrumbs ul li.selected a:hover {
	color: white;
	background-color: black;
}

div.breadcrumbs ul li.hovered a,
div.breadcrumbs ul li.hovered a:hover {
	color: white;
	background-color: #AAAAAA;
}

div.menu {
	position: absolute;
	background-color: black;
	color: white;
	z-index: 20;
	overflow: hidden;
}

div.menu ul li a {
	color: white;
}

div.menu ul li a:hover {
	text-decoration: underline;
}

div.menu ul li.current {
	padding: 0.6em 1em 0.6em 1em;
	line-height: 1em;
	background-color: green;
}
