/* CSS Document by JM (ISeeYou-Designs.com) */

body {
  background-color:#fff;
  font-family:"Trebuchet MS",arial,sans-serif;
  font-size:62.5%;
  color:#777;
  margin:0;
  padding:0;
}
td {
  vertical-align: top;
}

pre {
  font-size: 12px;
  color: #333;
}
a {
  text-decoration:none;
  color:#222;
}
a:hover {
  color:#c00;
}
acronym {
  cursor:help;
  border-bottom:1px dotted #ddd;
}
#container {
  font-size:1.2em;
  width:94%;
  margin:0 auto;
  border-right:3px double #000;
}
#header {
  color:#444;
  margin:0;
  padding:10px;
  background:#fff url(business_card.jpg) no-repeat bottom right;
}
#header h1 {
  font-family:"Trebuchet MS",arial,sans-serif;
  font-size:2em;
  color:#333;
  margin:0;
  font-weight:normal;
}
#header h1 strong {
  color:#c00;
}
#header h2 {
  margin:30px 0 0 0;
  font-size:1em;
  font-weight:normal;
  color:#999;
}
#header h2 strong {
  color:#c00;
}
#navigation {
  text-align:right;
  margin:0 18px 10px auto;
  padding:0;
}
#navigation li {
  margin:0;
  padding:0;
  list-style:none;
  display:inline;
}
#navigation li a, #navigation li span {
  padding:5px 5px 2px 5px;
  margin:0 1px 0 1px;
  color:#666;
  text-decoration:none;
  font-weight:bold;
  border-bottom:1px solid #c00;
}
#navigation li a:hover {
  color:#C00;
  border-bottom:1px solid #ddd;
}
#navigation li.webgen-menu-item-selected span, #navigation li.webgen-menu-submenu-inhierarchy span {
  color: #000;
  border-bottom: 0px;
}
#navigation li.webgen-menu-submenu-inhierarchy a {
  color: #000;
}
#navigation li.webgen-menu-submenu-inhierarchy a:hover {
  color: #C00;
}
#content {
  margin:20px 0 20px 10px;
  padding:0;
}
#content p {
  padding:2px 20px;
  text-align:justify;
  line-height:1.4em;
}
#content h1 {
  display:block;
  margin:50px 0 0 10px;
  padding:0;
  font-family:"Trebuchet MS",arial,sans-serif;
  font-size:1.8em;
  color:#c00;
  border-color:#ddd;
  border-style:solid;
  border-width:0 0 1px 0;
}
#content h2 {
  display:block;
  margin:20px 20px 0 0px;
  padding:0;
  font-family:"Trebuchet MS",arial,sans-serif;
  font-size:1.1em;
  letter-spacing:2px;
  color:#444;
  border-color:#c00;
  border-style:solid;
  border-width:0 0 1px 0;
}     
#content h2 + pre {
  margin-top: 2em;
}
#content .post_info {
  text-align:right;
  margin:0 25px 5px 25px;
  padding:2px;
  font-size:0.8em;
  font-family:arial,sans-serif;
  color:#aaa;
  line-height:0.9em;
  word-spacing:1px;
  border-top:1px solid #ddd;
}
#content .post_info a {
  text-transform:uppercase;
}
#content blockquote {
  margin:10px 60px;
  padding:5px;
  font-family:"Trebuchet MS",arial,sans-serif;
  font-size:0.9em;
  color:#444;
  border:1px solid #ddd;
  background-color:#eee;
}
#content blockquote p {
  margin:0;
  padding:0;
  text-indent:0;
}
#content code {
    font-family:monospace;
    font-size:1.3em;
}
#content pre {
  padding:4px;
  margin:18px;
  border:1px solid #444;
}
#content ul {
  margin-left:-8px;
  font-family:arial,sans-serif;
}
#content li {
  padding:3px;
}
#footer {
  font-size:0.9em;
  font-family:arial,sans-serif;
  margin:60px 18px 20px 0;
  padding:5px;
  border-top:1px solid #c00;
}
#footer p {
  text-align:right;
  line-height:1.1em;
  color:#bbb;
  font-size:0.9em;
  font-family:arial,sans-serif;
  margin:0;
  padding:0;
}
#footer span {
  color:#888;
}
#footer a {
  color:#888;
}
#footer a:hover {
  color:#aaa;
}

/* Ruby code, style similar to vibrant ink */
pre.ruby {
  font-size: 10px;
  font-family: monospace;
  color: white;
  background-color: black;
  padding: 0.1em 0 0.2em 0;
}

.keyword { color: #FF6600; }
.constant { color: #339999; }
.attribute { color: white; }
.global { color: white; }
.module { color: white; }
.class { color: white; }
.string { color: #66FF00; }
.ident { color: white; }
.method { color: #FFCC00; }
.number { color: white; }
.char { color: white; }
.comment { color: #9933CC; }
.symbol { color: white; }
.regex { color: #44B4CC; }
.punct { color: white; }
.escape { color: white; }
.interp { color: white; }
.expr { color: white; }

.offending { background-color: gray; }
.linenum {
	width: 75px;
	padding: 0.1em 1em 0.2em 0;
	color: #000000;
	background-color: #FFFBD3;
}